<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/demo.css"></script>
	<script src="/static/js/getrequest.js"></script>
  <script src="/static/js/postrequest.js"></script>
</head>
 
<body> 
	<div class="topnav">
				<a class="active" href="#home">Home</a>
				<a href="#">Add</a>
				<a href="#">Edit</a>
				<a href="#">Search</a>
				<a href="#">Delete</a>
		</div>

	<div class="container">
			<form id="userForm">
				<div class="row">
					<div class="col-25">
						<label for="firstname">First Name</label>
					</div>
					<div class="col-75">
						<input type="text" id="firstname" placeholder="Your name..">
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="lastname">Last Name</label>
					</div>
					<div class="col-75">
						<input type="text" id="lastname" placeholder="Your last name..">
					</div>
				</div>
				
				<div class="row">
						<div class="col-25">
							<label for="Search">Enter First Name</label>
						</div>
						<div class="col-75">
							<input type="text" id="fname" placeholder="Your First name..">
						</div>
					</div>
				
				<div class="row">
					<input type="submit" value="Submit">
					<input type="button" value="FindAll" id="findAll">
					<input type="button" value="Search" id="find">
					
					
				</div>
				<div id="postResultDiv"></div>	<br> 	<div id="getResultDiv">	   </div>
			</form>
		</div>

<div class="footer">
  <p>Developed & Designed By Franklin Thaker</p>
</div>


</body>
</html>