<!DOCTYPE html>
<html lang="en">
<head>
  <div class="header"><center><h1>DEMO CRUD Application by Franklin Thaker</h1></center></div>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/demo.css"></script>
	<script src="/static/js/getrequest.js"></script>
  <script src="/static/js/postrequest.js"></script>
</head>
 
<body> 
	<div class="sidebar">
		<ul>
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#news">Add</a></li>
				<li><a href="#contact">Edit</a></li>
				<li><a href="#about">Search</a></li>
				<li><a href="#about">Delete</a></li>
			</ul>
		</div>

<div class="main-content">	
		<form id="userForm">	  
		<input type="text" class="form-control" id="firstname" placeholder="Enter FirstName" required/>			
			<input type="text" class="form-control" id="lastname" placeholder="Enter LastName" required/>		  
		  <button type="submit" class="btn btn-default">Submit</button>
		  <button id="findAll" type="button" class="btn btn-default">FindAll</button>
		</br></br>	 
			<input type="text" class="form-control" id="fname" placeholder="Enter to find"/>
		  <button id="find" type="button" class="btn btn-default">Find</button>
		</form>

<div id="postResultDiv"></div>	<br> 	<div id="getResultDiv">	   </div>	

	</div>

<div class="footer">
  <p>Developed & Designed By Franklin Thaker</p>
</div>


</body>
</html>